/*
marrom: rbg(34, 19, 1);
laranja: rgb(215, 77, 40);*/
body {
    margin: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

header h1,
header p {
    color: #fff;
    margin: 0;
    text-align: center;
}

header h1 {
    padding-top: 70px;
}

header p {
    color: gray;
}

header nav {
    width: 500px;
    margin: auto;
    padding: 30px;
}

header ul {
    list-style: none;
    display: flex;
    justify-content: space-between;
}

header a {
    text-decoration: none;
    color: #fff;
}

header li {
    padding: 5px 10px;
}

header li:hover{
    background-color: #BF294D;
}

header li:first-child {
    background-color: #BF294D;
}

header,
footer {
    background-color: rgb(34, 19, 1);
    padding: 20px;
}

.destaque {
    background-color: rgb(215, 77, 40);
    padding: 50px;
    text-align: center;
}

.destaque h2 {
    padding-bottom: 10px;
}

section:first-child {
    display: flex;
    justify-content: center;
    margin: 50px;
    text-align: center;
    margin-bottom: 100px;
}

section:first-child div {
    margin: 10px;
    width: 300px;
    margin-right: 20px;
    margin-left: 20px;
}

section:first-child p {
    margin-bottom: 50px;
}

section:first-child a {
    text-decoration: none;
    color: #fff;
    background-color: #BF294D;
    padding: 10px 20px 10px;
}

section:last-child div:first-child {
    margin-bottom: 20px;
}

section:last-child div:first-child h2, p{
    text-align: center;
    margin: 0;
}

section:last-child div:first-child div p {
    color: gray;
    text-transform: uppercase;
}

.container {
    display: flex;
    justify-content: center;
    margin-left: 300px ;
    margin-right: 300px;
    text-align: center;   
    color: gray;
    margin-bottom: 50px;
    padding-bottom: 50px;
}

.container p {
    margin-bottom: 50px;
}

.container a {
    text-decoration: none;
    color: #fff;
    background-color: #BF294D;
    padding: 10px 20px 10px;
}

footer {
    padding-bottom: 100px;
}

footer p{
    color: gray;
    text-transform: uppercase;
    margin-top: 100px;
    margin-bottom: 75px;
}

footer ul {
    display: flex;
    justify-content: space-between;
    list-style: none;
    width: 300px;
    margin: auto;
    padding: 10px;
}


